body {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px ;
}

header {
    width:100% ;
}

header > img {
    max-width: 100% ;
    max-height: 100% ;
    padding-bottom: 10px ;
    display: block;
    margin: 0 auto;
}

.menu {
    list-style-type: none;
    padding-left: 0px;
}
.menuitem {
    font-family: Verdana, Geneva, sans-serif;
    font-size:18px;
    color: white;
    font-weight: bolder ;
    overflow:visible;
    margin-top: 10px ;
    padding-top: 5px ;
    padding-right: 10px;
    padding-bottom: 5px ;
    text-align:right;
    text-shadow: 2px 2px 2px grey;
    border-top: 2px solid white ;
    border-right: 2px solid white ;
    border-bottom: 2px solid white ;
    background-size: cover;
    background: rgba(32,32,32, 0.8) url("../img/header-background.png") no-repeat;
    width:80%;
}

.phrase {
    font-family: Verdana, Geneva, sans-serif;
    font-size:16px;
    color: white;
    font-weight: normal ;
    overflow:visible;
    padding-top: 5px ;
    padding-bottom: 5px ;
    text-align:center;
    background-size: cover;
    background: rgba(32,32,32, 0.8) url("../img/header-background.png") no-repeat;
    width:100%;
}

footer {
    position: absolute;
    bottom:0;
    width:100%;
    /*height:40px;*/
    /*margin-top: -40px ;*/
    border-top: 2px solid white ;
    border-right: 2px solid white ;
    border-bottom: 2px solid white ;
    background-size: cover;
    background: rgba(32,32,32, 0.8) url("../img/header-background.png") no-repeat;
}

h1 {
    color: white;
    margin: 0px ;
    padding: 25px ;
}

footer > p.listening {
    font-family: Verdana, Geneva, sans-serif;
    font-size:16px;
    color: white ;
}

.navigation_bar {
    display: inline;
    vertical-align:middle;
}
.navigation_entry {
    font-family: Verdana, Geneva, sans-serif;
    font-size:12px;
    color: white;
    font-weight: normal ;
    float: left;
    padding-left: 10px ;
}

.unselected_phrase {
    color: grey ;
}